body {
    margin: 0;
    background-color: #113dcb;
    color: white;
    border-radius: 50%;
}
/* ------------------MENU---------------------- */
.desktop-menu
{
    position: absolute;
    display: table;
}
#header
{
    line-height: 100px;
    position: fixed;
    left: 23.5%;
}
#menu-items{
    display: inline;
    position: fixed;
    top: 2%;
    left: 31%;
}
.menu-item {
    text-transform: uppercase;
    font-family: calibri;
    font-size: 13px;
    display: inline;
    padding: 0px 0px 0px 25px;
}
#logo {
    height: 30px;
}
.menu-item > a {
    text-decoration: none;
    color: white;
}
/* ----------------MOBILE MENU----------------------- */
.mobile-menu > label{
    border: 3px solid;
    padding: 10px;
    font-family: calibri;
    display: block;
    width: 70px;
    text-align: center;
    opacity: 1; 
}
.mobile-menu > label:hover{
    background-color: white;
    color: #113dcb;
    cursor: pointer;
}
.mobile-menu > ul > li > a{

    text-decoration: none;
    color: #113dcb;
}
.mobile-menu > ul > li{
    display: block;
    text-align: center;
    margin: 0px 0px 0px -38px;
}
.mobile-menu{
    display: none;
    top: 3%;
    left: 5%;
    position: fixed;
    z-index: 1;
}
#mobile-menu-items{
    position: fixed;
    display: none;
    background-color: white;
    width: 50px;
    margin: 0px 0px -15px 3px;
}
/* -------------------------------------------------- */
#reg_btn
{
    position: fixed;
    left: 63%;
    top: 1.5%;
    font-family: calibri;
}
#sign_up
{
    display: inline-block;
    border-radius: 10px;
    background-color: white;
    border: none;
    color: #113dcb;
    text-align: center;
    font-size: 12px;
    padding: 18px;
    width: 130px;
    cursor: pointer;
    margin: 5px;
    font-weight: bold;
}
#Design_btn
{
    position: absolute;
    left: 22.5%;
    top: 50%;
}
#design_btn
{
    display: inline-block;
    border-radius: 10px;
    background-color: #ff5969;
    border: none;
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 18px;
    width: 160px;
    cursor: pointer;
    margin: 5px;
    font-weight: bold;
}
.mySlides
{
    display: block;
    width: 100%;
}
.slider
{
    position: absolute ;
    top: 150px;
    font-family: calibri;
    left: 23%;
}
.slider-content
{
    max-width: 600px;
}
#slider_title
{
    font-size: 70px;
    font-weight: bold;
}
.slider_btn
{
    height: 15px;
    width: 15px;
    background-color: #4478ff;
    /* border-radius: 50%; */
    display: inline-block;
    border: none;
    margin: 10px;
    cursor: pointer; 
    border-radius: 100px;
}
.slider_btn:hover
{
    box-shadow: 0 0 0 6px #f6b70b, 0 0 0 7px #f6b70b;
}
#buttons
{
    position: fixed;
    bottom: 15%;
    margin: 0px 0px 0px -20px;
}
#back_img
{
    margin:  0% 0% 0% 35%;
    padding: 0px;
    top: 20%;
    left: -28%;
    width: 150%;
    height: 150%;
    background: #d82b32;
    -webkit-transform: rotate(-53deg);
            transform: rotate(-53deg);
    position: fixed;
    z-index: -1;
}
#back
{
    position: fixed;
    left: 37%;
    height: 820px;
    top: 13%;
}

@media only screen and (max-width: 1200px)
{
    #menu-items{
        position: relative;
        line-height: 80px;
        margin: 0% 0% 0% 25%;
    }
    #back_img{
        left: -2%;
    }
    #Design_btn, .slider, #header{
        left: 10%;
    }
    #back{
        height: 700px;
    }
}
@media only screen and (max-width: 1500px)
{
    #reg_btn {
        left: 77%;
    }
}
@media only screen and (max-width: 1220px)
{
    #menu-items {
        left: 35%;
    }
}
@media only screen and (max-width: 320px)
{
    .mobile-menu{
        display: block;
    }
    .desktop-menu{
        display: none;
    }
    #back_img{
        top: 0%;
        left: -60px;
        width: 260%;
        height: 100%;
        -webkit-transform: rotate(-70deg);
        transform: rotate(-70deg);
    }
    #reg_btn {
        left: 50%;
        margin: 0% -5% 0% 0%;
    }
    #sign_up {
        width: 100px;
    }
    .mySlides{
        text-align: center;
        font-size: 25px;
    }
    #slider_title{
        font-size: 50px;
    }
    .slider{
        top: 80px;
        left: 0%;
        z-index: 0;
    }
    #Design_btn{
        position: absolute;
        left: 23%;
        top: 80%;
        z-index: 1;
    }
    #buttons{
        position: absolute;
        bottom: -22%;
        left: 32%;
    }

    #back{
        left: 2%;
        height: 320px;
        top: 100%;
        margin: 180% 0% 0% 0%;
        position: relative;
        z-index: -1;
    }
}
